@import"../variable/variable";

.hero {
    .hero-content {
        h1 {
            font-size: 5rem;
            line-height: 5rem;
            font-family: "Cormorant", serif;
            letter-spacing: -0.03em;
        }
    }

    .hero-img {
        h1 {
            font-size: clamp(2rem, 1.8182rem + 0.9091cqi, 2.5rem);
            line-height: clamp(2rem, 1.8182rem + 0.9091cqi, 2.5rem);
            font-family: "Cormorant", serif;
        }

        .bg-img {
            background: $black100 no-repeat center/cover;
        }
    }
}

@include media-breakpoint-down(lg) {
    .hero-content {
        width: 100% !important;
    }

    .hero-img {
        width: 100% !important;

        .bg-img {
            min-height: 21.875rem;
            background-color: $black200 !important;
        }
    }
}

@include media-breakpoint-up(lg) {
    .hero-content {
        p {
            width: 19.313rem;
        }

        h1 {
            width: clamp(29.375rem, 23.5114rem + 29.3182cqi, 45.5rem);
        }
    }

    .hero-img {
        p {
            width: 20.875rem;
        }
    }
}